body {
    padding: 20px;
}

input.short {
    max-width: 100px;
}

.label-disabled {
    pointer-events: none;
}

.limited-width {
    width: 50%;
    max-width: 500px;
}

.table-nonfluid {
    width: auto !important;
}